$animationSpeed: 1.2s;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  width: 99px;
  position: relative;
  text-indent: -9999em;
}

.ball {
  border-radius: 50%;
  background: rgb(223, 233, 27);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  animation: loading $animationSpeed linear infinite;

  &:nth-of-type(2) {
    animation-delay: calc($animationSpeed/3);
  }

  &:nth-of-type(3) {
    animation-delay: calc(($animationSpeed/3) * 2);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: translate3d(33px, 0, 0);
  }

  60% {
    transform: translate3d(66px, 0, 0);
  }

  80% {
    transform: translate3d(99px, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(99px, 0, 0) scale(0.5);
    opacity: 0;
  }
}
