.checkoutProduct {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  box-shadow: 0 1px 6px 2px rgba(133, 132, 132, 0.25);
  padding: 1rem;

  margin: 2rem 0;
  .checkoutProduct__img {
    width: 13rem;
    object-fit: cover;
  }

  .checkoutProduct__info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .checkoutProduct__title {
      font-size: 1.1rem;
      font-weight: 800;
    }
    .checkoutProduct__price {
      font-size: 0.8rem;
    }
    .checkoutProduct__rating {
      font-size: 1rem;
    }
    button {
      background-color: #fff;
      border: 1.5px solid #f6cdbc;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-family: "Vazir";
      transition: all 0.2s ease-in;
    }
    button:hover {
      background-color: #f6cdbc;
    }
  }
}
