.checkout {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  height: 80vh;

  .checkout__right {
    .checkout__ad {
      max-width: 40rem;
      width: 100%;
    }
    .checkout__title {
      margin-left: 1rem;
      padding: 1rem;
      border-bottom: 1px solid lightgray;
    }
  }
}
