.login {
  background-image: url("../assets/images/shapes.svg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .login__logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    .login__logoImg {
      color: #baddf2;
    }
    .login__logoTitle {
    }
  }

  .login__container {
    box-shadow: 0 1px 6px 2px rgba(133, 132, 132, 0.25);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 4px;

    h1 {
      font-weight: 500;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 98%;

      input {
        padding: 0.5rem 1rem;
        height: 2.5rem;
        margin-bottom: 1rem;
        direction: ltr;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 4px;
        outline: 0;
      }
      input:focus {
        outline: 0;
        border: 2px solid #baddf2;
      }
      label {
        margin-bottom: 5px;
        font-size: 0.8rem;
      }
      .submit__btn {
        background-color: #f6cdbc;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-family: "Vazir";
        margin-top: 1rem;
        transition: all 0.2s ease-in;
      }
    }

    .signup__btn {
      width: 98%;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-family: "Vazir";
      margin-top: 1rem;
      transition: all 0.1s ease-in;
    }
    .signup__btn:hover,
    .submit__btn:hover {
      box-shadow: 0 1px 6px 2px rgba(161, 160, 160, 0.25);
    }
  }
}
